<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>Simply drag your file here and copy the link provided</p>
	<p><%- partial('forms/upload.ejs', {action: "/file/upload"}) %></p>
	<div class="progress progress-striped active" id="upload-progress-bar">
		<div class="bar"></div>
	</div>
	<div id="download-link"></div>
</div>
